body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f7fa;
  color: #333;
}

header {
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align vertically */
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-section {
  flex: 1;
  padding: 10px;
}

nav h2 {
  margin-bottom: 10px;
  color: #007BFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #007BFF;
}

button {
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.nav-section:last-child {
  text-align: right;
}