/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black; /* Add a bold black border to the whole table */
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Pagination styles */
#pagination {
  margin-top: 10px;
}

/* Pagination button styles */
#prev-page-btn, #next-page-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

#prev-page-btn:disabled, #next-page-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
